@charset "UTF-8";

.chat_history{
	max-height: 30vw;
	overflow-x: hidden;
    overflow-y: scroll;
}

.unread{
	background: paleturquoise;
}

.unread th{
	font-weight: bold;
}

.unread td{
	color: black;
	font-weight: bold;
}

.badge{
	width: 30px;
	border-radius: 100%;
	background: #198754;
}

table {border:1; width:100%; table-layout:fixed;}
table tr {height:50; cursor:pointer;} 
table tr th {text-align:center; width:30%;  height:auto;}
table tr td {text-overflow: ellipsis; overflow:hidden; white-space: nowrap; text-align:left; color:gray;}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


.wrap .chat {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}


.wrap .chat .icon {
    position: relative;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #eee;
}

.wrap .chat .icon i {
    position: absolute;
    top: 10px;
    left: 50%;
    font-size: 2.5rem;
    color: #aaa;
    transform: translateX(-50%);
}

.wrap .chat .textbox {
    position: relative;
    display: inline-block;
    max-width: calc(100% - 70px);
    padding: 10px;
    margin-top: 7px;
    font-size: 13px;
    border-radius: 10px;
}

.wrap .chat .textbox::before {
    position: absolute;
    display: block;
    top: 0;
    font-size: 1.5rem;
}

.wrap .ch1 .textbox {
    margin-left: 20px;
    background-color: #ddd;
}

.wrap .ch1 .textbox::before {
    left: -15px;
    content: "◀";
    color: #ddd;
}

.wrap .ch1 span {
	font-size: 9px;
	margin-top: 30px;
    margin-left: 5px;
    max-width: calc(100% - 70px);
}

.wrap .ch2 {
    flex-direction: row-reverse;
}

.wrap .ch2 .textbox {
    margin-right: 20px;
    background-color: #F9EB54;
}

.wrap .ch2 .textbox::before {
    right: -15px;
    content: "▶";
    color: #F9EB54;
}

.wrap .ch2 span {
	font-size: 9px;
	margin-top: 30px;
    margin-right: 5px;
    max-width: calc(100% - 70px);
}