<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 	
<mapper namespace="com.ezdev.sfy.dto.adminMapper">

<insert id="insertAdmin" parameterType="adminDTO">
 insert into admin values
 (nextval('admin_seq'), #{admin_id}, #{admin_name}, #{admin_passwd}, #{admin_email}, #{admin_profileImg})
</insert>

<select id="countMemberByWeek" resultType="java.util.Map" parameterType="java.util.Map">
	${sql}
</select>

<select id="countReviewByWeek" resultType="java.util.Map" parameterType="java.util.Map">
	${sql}
</select>
 
<select id="countRouteByHash" parameterType="java.util.Map" resultType="int">
	select count(*) from route where route_hashtag = #{hashtag}
</select>

<select id="getAdminId" parameterType="java.util.Map" resultType="adminDTO">
select * from admin where admin_id = #{admin_id}
</select>

<update id="adminUpdate" parameterType="adminDTO">
update admin set admin_name=#{admin_name}, admin_id=#{admin_id}, 
admin_passwd=#{admin_passwd},admin_email=#{admin_email}, admin_profileImg=#{admin_profileImg} where admin_no=#{admin_no}
</update>

<delete id="adminDelete" parameterType="adminDTO">
delete from admin where admin_no = #{admin_no}
</delete>

<insert id="adminEmail" parameterType="emailDTO">
insert into email values(#{senderName}, #{senderMail}, #{receiveMail}, #{subject}, #{message})

</insert>

</mapper>