<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 	
<mapper namespace="com.ezdev.sfy.dto.adminTempMapper">

<insert id="upsertAdminTemp" parameterType="AdminTempDTO">
insert into adminTemp(temp_no, qna_reply_content, temp_qno) 
 values(nextval('adminTemp_seq'), #{qna_reply_content}, #{temp_qno}) 
 on duplicate key update qna_reply_content = #{qna_reply_content};
</insert>
<!-- 임시저장 내용불러오기 -->
<select id="getContent" resultType="AdminTempDTO">

 select * from AdminTemp 
 where temp_qno=#{qno}

</select>


</mapper>