<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.ezdev.sfy.chatMapper">
	<!-- 대화목록 -->
	<select id="listChat" parameterType="chatDTO" resultType="chatDTO">
		select * from chat
		where chat_no in (select max(chat_no) from chat group by chat_room) and (chat_send_no = #{no} or chat_recv_no=#{no})
		order by chat_no desc
	</select>
	
</mapper>