<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.ezdev.sfy.chatMapper">
	<!-- 쪽지 보내기 -->
	<insert id="sendChat" parameterType="chatDTO">
		insert into chat(chat_no, chat_room, chat_send_no, chat_recv_no, chat_send_time,
							chat_read_time, chat_content, chat_read_chk)
		values(nextval('chat_seq'), #{chat_room}, #{chat_send_no}, #{chat_recv_no}, date_format(sysdate(),'%m.%d %H:%i'), date_format(sysdate(),'%Y.%m.%d %H:%i'), #{chat_content}, 0)
	</insert>
	
	<!-- 채팅방 목록 -->
	<select id="listChat" parameterType="chatDTO" resultType="chatDTO">
		select * from chat
		where chat_no in (select max(chat_no) from chat group by chat_room) and (chat_send_no = #{no} or chat_recv_no=#{no})
		order by chat_no desc
	</select>
	
	<!-- 채팅방 최댓값 세기-->
	<select id="sizeRoom" resultType="int">
		select max(chat_room) from chat
	</select>
		
	<!-- 채팅내역 상세보기 -->
	<select id="listMsg" parameterType="chatDTO" resultType="chatDTO">
		select * from chat
		where (chat_recv_no = #{other_no} and chat_send_no = #{no}) or (chat_send_no = #{other_no} and chat_recv_no = #{no})
		order by chat_no
	</select>
	
	<!-- 안읽은 메세지 갯수 가져오기 -->
	<select id="countUnread" parameterType="chatDTO" resultType="Int">
		select count(*) from chat
		where chat_recv_no = #{no} and chat_read_chk=0 and chat_room = #{chat_room}
	</select>
	
	<!-- 메세지 읽음 처리 -->
	<update id="chkRead" parameterType="chatDTO">
		update chat set chat_read_chk=1
		<choose>
			<when test="chat_room != 0">
				where chat_room = #{chat_room} and chat_read_chk=0 and chat_recv_no = #{no}
			</when>
			<otherwise>
				where chat_send_no = #{chat_recv_no} and chat_read_chk = 0 and chat_recv_no = #{no}
			</otherwise>
		</choose>
	</update>
	
	<delete id="deleteChat" parameterType="java.util.Map">
		delete from chat
		where (chat_recv_no = #{friend_no, jdbcType=NUMERIC} and chat_send_no = #{no, jdbcType=NUMERIC}) or
		 (chat_send_no = #{friend_no, jdbcType=NUMERIC} and chat_recv_no = #{no, jdbcType=NUMERIC})
	</delete>
	
</mapper>