<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<!-- 	private int member_no;
	private String member_name;
	private String member_id;
	private String member_passwd;
	private String member_email;
	private String member_hp;
	private String member_regdate; -->


<mapper namespace="com.ezdev.sfy.dto.memberMapper">	
<!-- 회원가입 -->
	<insert id="insertMember" parameterType="memberDTO">
		insert into member values(member_seq.nextval, #{member_name}, #{member_id}, #{member_passwd}, #{member_email}, #{member_hp}, sysdate)
	</insert>
	
	<select id="listMember" resultType="memberDTO">
		select * from member
	</select>
	<update id="updateMember" parameterType="memberDTO">
		update member set member_passwd=#{member_passwd,jdbcType=VARCHAR}, member_email=#{member_email,jdbcType=VARCHAR}, 
					member_hp=#{member_hp,jdbcType=VARCHAR} where member_no = #{member_no}
	</update>


	<select id="listMember2" resultType="memberDTO">
		select member_no, member_name, member_id, member_passwd, member_email,
		member_hp from member order by member_no  
	</select>
	
	<update id="updateMember2" parameterType="memberDTO">
		update member set member_name=#{member_name},member_id=#{member_id},
		member_passwd=#{member_passwd},member_email=#{member_email},
		member_hp=#{member_hp} where member_no = #{member_no}	
	</update>
<!--  	
	<select id="findMember" parameterType="java.util.Map" resultType="memberDTO">
		select * from jsp_member where ${search} = #{searchString}
	</select>
	
	<delete id="deleteMember" parameterType="int">
		delete from jsp_member where no = #{no}
	</delete>
	

	

	
	<select id="searchMember" parameterType="java.util.Map" resultType="String">
		${sql}
	</select>
		-->
	<select id="getMemberId" parameterType="String" resultType="memberDTO">
		select * from member where member_id = #{member_id}
	</select>

 
		<select id="getMemberNo" parameterType="int" resultType="memberDTO">
		select * from member where member_no = #{member_no}
	</select>

</mapper> 	




