<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<!-- 	private int member_no;
	private String member_name;
	private String member_id;
	private String member_passwd;
	private String member_email;
	private String member_hp;
	private String member_regdate; -->


<mapper namespace="com.ezdev.sfy.dto.memberMapper">	
<!-- 회원가입 -->
	<insert id="insertMember" parameterType="memberDTO">
		insert into member values(nextval('member_seq'), #{member_name}, #{member_id}, #{member_passwd}, #{member_email}, #{member_hp}, sysdate(), 0)
	</insert>
	<insert id="insertMemKakao" parameterType="java.util.Map">
		insert into member(member_no, member_name, member_id, member_email, member_regdate, kakao) values(nextval('member_seq'), #{member_name, jdbcType=VARCHAR}, #{member_id}, #{member_email, jdbcType=VARCHAR}, sysdate(), 1)
	</insert>
	
<!-- 회원가입2: 마이페이지 -->
	<insert id="insertMypage" parameterType="memberDTO">
		insert into mypage (mypage_no, mem_no) values(nextval('mypage_seq'), #{member_no})
	</insert>
	
	<select id="listMember" resultType="memberDTO">
		select * from member
	</select>
	
	<update id="updateMember" parameterType="memberDTO">
		update member set member_passwd=#{member_passwd,jdbcType=VARCHAR}, member_email=#{member_email,jdbcType=VARCHAR}, 
					member_hp=#{member_hp,jdbcType=VARCHAR} where member_no = #{member_no}
	</update>

	<select id="listOfMember" resultType="memberDTO">
		select member_no, member_name, member_id, member_passwd, member_email,
		member_hp from member order by member_no  
	</select>
	
	<update id="updateListMember" parameterType="memberDTO">
		update member set member_name=#{member_name},member_id=#{member_id},
		member_passwd=#{member_passwd},member_email=#{member_email},
		member_hp=#{member_hp} where member_no = #{member_no}	
	</update>
	
	<delete id="deleteListMember" parameterType="memberDTO">
	  delete from member where member_no = #{member_no} 
	</delete>

	<select id="getMemberId" parameterType="String" resultType="memberDTO">
		select * from member where member_id = #{member_id}
	</select>

 
	<select id="getMemberNo" parameterType="int" resultType="memberDTO">
		select * from member where member_no = #{member_no}
	</select>
	
	<select id="getMemberEmail" parameterType="String" resultType="memberDTO">
		select*from member where member_email = #{member_email}
	</select>
	
	<delete id="deleteMember" parameterType="int">
		delete from member where member_no = #{member_no}
	</delete>

</mapper> 	




