<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.ezdev.sfy.dto.mypageMapper">
<select id="listFriend" resultType="mypageDTO">
 select * from friend
</select>
<insert id="insertFriend" parameterType="mypageDTO">
insert into friend values(friend_seq.nextval, #{friend_id}, #{friend_name})
</insert>
<delete id="deleteFriend" parameterType="int">
delete from friend where friend_num = #{friend_num}
</delete>
<select id="listMypageMember" parameterType="java.util.Map" resultType="memberDTO">
 select * from (select rownum rn, A.* from 
			(select * from member order by member_no asc)A) 
				where rn between #{start} and #{end}
</select>
<select id="listMypageMemberCount" resultType="Integer">
 select count(*) from member
</select>
<select id="findMember" parameterType="java.util.Map" resultType="memberDTO">
		${sql}
	</select>
<!-- <sql id="search"> <include refid="search"/>
 <if test="msearchType!=null"> 
  <if test="msearchType == 'id'.toString()">where member_id like '%' || #{mkeyword} || '%'</if>
  <if test="msearchType == 'name'.toString()">where member_name like '%' || #{mkeyword} || '%'</if>
 </if>
</sql> -->
<!-- <select id="listRoutetest" resultType="mypageDTO" parameterType="com.ezdev.sfy.mypage.Criteria">
 select * 
 from (select row_number() over(order by routetest_no desc) as rnum, lr.* from routetest lr)
 routetest
 where rnum between #{rowStart} and #{rowEnd}
</select>
<select id="routetestCount" resultType="int">
 select count(*) from routetest
</select>
<insert id="insertRoutetest" parameterType="mypageDTO">
insert into routetest values(routetest_seq.nextval, #{routetest_subject}, sysdate)
</insert>-->

</mapper>