<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.ezdev.sfy.dto.mypageMapper">

<select id="getMyPage" resultType="mypageDTO">
	select * from mypage where mem_no = #{no}
</select>

<select id="listFriend" parameterType="java.util.Map" resultType="memberDTO">
	select * from member where
		<foreach collection="friends" item="fr" separator="or">
				member_no = #{fr,jdbcType=VARCHAR}
		</foreach>
</select>

<update id="insertFriendMe" parameterType="java.util.Map" >
	update mypage
		set mypage_friend =
			mypage_friend||#{friend_no}||CHR(044)
	where mem_no = #{no}
</update>

<update id="insertFriendYou" parameterType="java.util.Map" >
	update mypage
		set mypage_friend =
			mypage_friend||#{no}||CHR(044)
	where mem_no = #{friend_no}
</update>

<update id="deleteFriend" parameterType="java.util.Map">
	update mypage
		set mypage_friend =
		replace(mypage_friend, #{friend_no}||CHR(044), '')
	where mem_no = #{no}
</update>

<select id="listMypageMember" parameterType="java.util.Map" resultType="memberDTO">
 select * from (select rownum rn, A.* from 
			(select * from member order by member_no asc)A) 
				where rn between #{start} and #{end}
</select>
<select id="listMypageMemberCount" resultType="Integer">
 select count(*) from member
</select>
<select id="findMember" parameterType="java.util.Map" resultType="memberDTO">
		${sql}
	</select>
<!-- <sql id="search"> <include refid="search"/>
 <if test="msearchType!=null"> 
  <if test="msearchType == 'id'.toString()">where member_id like '%' || #{mkeyword} || '%'</if>
  <if test="msearchType == 'name'.toString()">where member_name like '%' || #{mkeyword} || '%'</if>
 </if>
</sql> -->
<!-- <select id="listRoutetest" resultType="mypageDTO" parameterType="com.ezdev.sfy.mypage.Criteria">
 select * 
 from (select row_number() over(order by routetest_no desc) as rnum, lr.* from routetest lr)
 routetest
 where rnum between #{rowStart} and #{rowEnd}
</select>
<select id="routetestCount" resultType="int">
 select count(*) from routetest
</select>
<insert id="insertRoutetest" parameterType="mypageDTO">
insert into routetest values(routetest_seq.nextval, #{routetest_subject}, sysdate)
</insert>-->
<update id="updateFavorite" parameterType="java.util.Map" >
update mypage
	set mypage_favorite_tour =
	case when mypage_favorite_tour is null then #{tour_no}
		else  mypage_favorite_tour||','||#{tour_no} end 
	where mem_no = #{no}
</update>
<select id="listReview" resultType="reviewDTO">
select * from (select rownum rn, B.* from
              (select * from review order by review_no asc)B)
              where rn between #{start} and #{end}
</select>
<select id="listReviewCount" resultType="Integer">
 select count(*) from review
</select>
</mapper>