<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.ezdev.sfy.dto.tourMapper">
	<select id="findTour" parameterType="java.util.Map" resultType="tourDTO">
		${sql}
	</select>
	<insert id="insertRoute" parameterType="myRouteDTO">
		insert into route values(route_seq.nextval,#{mem_no, jdbcType=NUMERIC},#{route_subject, jdbcType=VARCHAR},#{route_content, jdbcType=VARCHAR},#{route_img, jdbcType=VARCHAR},
				#{route_itinerary, jdbcType=VARCHAR},#{route_tour, jdbcType=VARCHAR},0,#{route_region, jdbcType=VARCHAR}, #{route_hashtag, jdbcType=VARCHAR},sysdate)
	</insert>
	<select id="getRouteTour" parameterType="Integer" resultType="tourDTO">
		select * from route where route_no = #{route_no}
	</select>
	<select id="getRoute" parameterType="Integer" resultType="myRouteDTO">
		select*from route where route_no = #{route_no}
	</select>
	<update id="updateRoute" parameterType="myRouteDTO">
		update route set route_subject=#{route_subject}, route_content=#{route_content}, route_img=#{route_img},route_itinerary=#{route_itinerary, jdbcType=VARCHAR}, 
		route_tour=#{route_tour}, route_region=#{route_region, jdbcType=VARCHAR}, route_hashtag= #{route_hashtag, jdbcType=VARCHAR} where route_no=#{route_no}
	</update>
	<delete id ="delMyroute" parameterType="Integer">
	delete from route where route_no = #{route_no} 
	</delete>

</mapper>