<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.ezen.sfy.dto.qnaMapper">
	<select id="listBoard" parameterType="java.util.Map" resultType="QnaDTO">
		select * from (select rownum rn, A.* from 
			(select * from board order by re_step asc)A) 
				where rn between #{start} and #{end}
	</select>
	
	<insert id="insertBoard" parameterType="QnaDTO">
		insert into board values(board_seq.nextval, #{writer},#{email},#{subject},
							#{passwd},sysdate,0,#{content},#{ip},#{re_step},#{re_level})

	</insert>
	
	<update id="plusRe_step" parameterType="java.util.Map">
		${sql}
	</update>
	
	<update id="plusReadcount" parameterType="int">
		update board set readcount = readcount + 1 where num = #{num}
	</update>
	
	<select id="getBoard" parameterType="int" resultType="QnaDTO">
		select * from board where num = #{num}
	</select>
	
	<select id="getCount"  resultType="Integer">
		select count(*) from board
	</select>
</mapper> 