<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.ezen.sfy.dto.qnaMapper">
	<select id="listBoard" parameterType="java.util.Map" resultType="QnaDTO">
		select *from(select @rownum:=@rownum+1  rn, A.* from (select * from qna order by qna_re_step asc) A, (select @rownum := 0) R
	 where 1=1) list
	<![CDATA[ where rn >= #{start} and rn <=#{end} ]]> 
	</select>
	
	<insert id="insertBoard" parameterType="QnaDTO">
		insert into qna (qna_no, qna_writer, qna_subject, qna_passwd, qna_regdate, qna_readcount, qna_content, qna_re_step, qna_re_level, brddeleteflag)values(nextval('qna_seq'),#{qna_writer},#{qna_subject},
							#{qna_passwd},sysdate(),0,#{qna_content},#{qna_re_step},#{qna_re_level},'Y')
	</insert>
	
	<update id="plusRe_step" parameterType="java.util.Map">
		${sql}
	</update>
	
	<update id="plusReadcount" parameterType="int">
		update qna set qna_readcount = qna_readcount + 1 where qna_no = #{qna_no}
	</update>
	
	<select id="getBoard" parameterType="int" resultType="QnaDTO">
		select * from qna where qna_no = #{qna_no}
	</select>
	
	<select id="getCount"  resultType="Integer">
		select count(*) from qna
	</select>
	
	<select id="listOfQna" resultType="QnaDTO">
		select qna_no, qna_subject, qna_content, qna_regdate, qna_writer 
		from qna where brddeleteflag = 'Y'
		order by qna_no
	</select>
<!-- 문의 답변 내용 수정 -->
	<update id="tempOk" parameterType="QnaDTO">
		update qna set qna_reply_content = #{qna_reply_content} where
		qna_subject = #{qna_subject}
	</update>
	
	<delete id="adminReplyContentDelete" parameterType="String">
	 update qna 
	 set BRDDELETEFLAG = 'N'
	 where qna_subject = #{qna_subject}
	 </delete>
	 
	<update id="updateBoard" parameterType="QnaDTO">
		update qna set qna_subject=#{qna_subject}, qna_content=#{qna_content} where qna_no = #{qna_no}
	</update>
	
	<delete id="deleteQna" parameterType="QnaDTO">
		delete from qna where qna_no = #{qna_no} and qna_passwd= #{qna_passwd}
	</delete>
	
	<delete id="deleteQna2" parameterType="QnaDTO">
		delete from qna where qna_no = #{qna_no}
	</delete>
	
	<select id="getCountById" parameterType="java.util.Map" resultType="Integer">
		select count(*) from qna where qna_writer = #{id}
	</select>
	
	<select id="listBoardById" parameterType="java.util.Map" resultType="QnaDTO">
	select *from(select @rownum:=@rownum+1  rn, A.* from (select * from qna where qna_writer = #{id} order by qna_re_step asc) A, (select @rownum := 0) R
	 where 1=1) list
	<![CDATA[ where rn >= #{start} and rn <=#{end} ]]> 
	</select>
	
	</mapper>
