<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.ezdev.sfy.tourMapper">
	<select id="listTour" resultType="tourDTO" parameterType="java.util.Map">
		select *from(select @rownum:=@rownum+1  rn, A.* from (select * from tour order by tour_no) A, (select @rownum := 0) R
	 where 1=1) list
	<![CDATA[ where rn >= #{start} and rn <=#{end} ]]> 
	</select>
	
	<select id="listTourByRegion" resultType="tourDTO" parameterType="java.util.Map">
     select *from(select @rownum:=@rownum+1  rn, A.* from (select * from tour where tour_addr like '%${region}%' order by tour_no) A, (select @rownum := 0) R
	 where 1=1) list
	<![CDATA[ where rn >= #{start} and rn <=#{end} ]]> 
   </select>
   
   <select id="listTourByType" resultType="tourDTO" parameterType="java.util.Map">
      select *from(select @rownum:=@rownum+1  rn, A.* from (select * from tour where tour_type = #{type}) A, (select @rownum := 0) R
	 where 1=1) list
	<![CDATA[ where rn >= #{start} and rn <=#{end} ]]> 
   </select>
   <select id="listTourByRegionType" resultType="tourDTO" parameterType="java.util.Map">
     select *from(select @rownum:=@rownum+1  rn, A.* from (select * from tour where tour_addr like '%${region}%' and tour_type = #{type}) A, (select @rownum := 0) R
	 where 1=1) list
	<![CDATA[ where rn >= #{start} and rn <=#{end} ]]> 
   </select>
   
   <select id="getTour"  resultType="tourDTO" parameterType="Integer">
		select * from tour where tour_no = #{tour_no}
	</select>
   
   <select id="getTourCount"  resultType="Integer">
		select count(*) from tour
	</select>
	
	<select id="getTourCountByType"  resultType="Integer" parameterType="Integer">
		select count(*) from tour where tour_type = #{type}
	</select>
	
	<select id="getTourCountByRegion"  resultType="Integer" parameterType="java.util.Map">
		select count(*) from tour where tour_addr like '%${region}%'
	</select>
	
	<select id="getTourCountByRegionType"  resultType="Integer" parameterType="java.util.Map">
		select count(*) from tour where tour_type = #{type} and tour_addr like '%${region}%'
	</select>
 
</mapper>