<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.ezdev.sfy.tourApiMapper">
	<insert id="insertDb" parameterType="java.util.List">
		insert into tour(tour_no, tour_type, tour_name, tour_postal, tour_addr, tour_hp)
		select nextval('tour_seq'), A.* from(
			<foreach collection="list" item="item" separator="UNION ALL ">
				select #{item.tour_type, jdbcType=NUMERIC} as tour_type,
						#{item.tour_name, jdbcType=VARCHAR} as tour_name,
						#{item.tour_postal, jdbcType=VARCHAR} as tour_postal,
						#{item.tour_addr, jdbcType=VARCHAR} as tour_addr,
						#{item.tour_hp, jdbcType=VARCHAR} as tour_hp
				from dual
			</foreach>) A		
	</insert>
	<delete id="deleteDb" parameterType="int">
		delete from tour where tour_type = #{type}
	</delete>

</mapper> 	