<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.ezdev.sfy.tourMapper">
	<select id="listTour" resultType="tourDTO">
		select * from tour
	</select>
	<select id="listTourByRegion" resultType="tourDTO" parameterType="java.util.Map">
      select * from tour where tour_addr like '%${region}%'
   </select>
</mapper>