<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.ezdev.sfy.tourApiMapper">
	<insert id="insertDb" parameterType="java.util.List">
		insert into tour(tour_no, tour_type, tour_name, tour_postal, tour_addr, tour_hp, tour_open_time, tour_open_day, tour_close_day, tour_traffic)
		select tour_seq.nextval, A.* from(
			<foreach collection="list" item="item" separator="UNION ALL ">
				select #{item.tour_type, jdbcType=NUMERIC} as tour_type,
						#{item.tour_name, jdbcType=VARCHAR} as tour_name,
						#{item.tour_postal, jdbcType=VARCHAR} as tour_postal,
						#{item.tour_addr, jdbcType=VARCHAR} as tour_addr,
						#{item.tour_hp, jdbcType=VARCHAR} as tour_hp,
						#{item.tour_open_time, jdbcType=VARCHAR} as tour_open_time,
						#{item.tour_open_day, jdbcType=VARCHAR} as tour_open_day,
						#{item.tour_close_day, jdbcType=VARCHAR} as tour_close_day,
						#{item.tour_traffic, jdbcType=VARCHAR} as tour_traffic
				from dual
			</foreach>) A		
	</insert>
	
	<delete id="deleteDb" parameterType="int">
		delete from tour where tour_type = #{type}
	</delete>

</mapper> 	